{% extends 'PrixyBundle:Default:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-md-offset-2 titre_forma">
            <h2>{{ formation.ref }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 left_position">
            <div class="objectifs_formation">
                <h3> OBJECTIFS DE LA FORMATION</h3>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            </div>
            <div class="pre_requis">
                <h3> PRE-REQUIS </h3>
                <ul><li> Formation Requise</li> </ul>
            </div>
            <div class="programme_details">
                <h3> PROGRAMME DETAILE </h3>
                <p> Details formation : </br>
                    ligne_detail_1 </br>
                    ligne_detail_2 </br>
                    ligne_detail_3 </br>
                    ligne_detail_4 </br> </p>
            </div>
        </div>
        <div class="col-sm-4 right_position">
            <div class="info_forma">
                <ul class ="without_style">
                    <li>Durée : 21354j</li>
                    <li>Tarif : 999€ HT</li>
                    <li>Certification </br> Yes / No </li>
                </ul>
            </div>
            <div class ="session_formation">
                <ul class="without_style">
                    <li> Date 1 </li>
                    <li> Date 2 </li>
                    <li> Date 3 </li>
                    <li> Date 4 </li>
                </ul>
            </div>
        </div>
    </div>
    {#</div>#}



{% endblock content %}