*{
  font-family: 'Montserrat', sans-serif;
}
#ham-button{
  height: 12px;
  width: 12px;
  border:none;
}
#ham-button{
  background: none;
  margin-top: 15px;
}
#ham-button span{
  display: block;
  position: absolute;
  height: 2px;
  width: 75%;
  left: 12.5%;
  background: #777;
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#ham-button span:nth-child(1) {
  top: 0%;
}
#ham-button span:nth-child(2),#ham-button span:nth-child(3) {
  top: 33%;
}
#ham-button span:nth-child(4) {
  top: 66%;
}
#ham-button.open span:nth-child(1) {
  top: 0%;
  width: 0%;
  left: 50%;
}
#ham-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#ham-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#ham-button.open span:nth-child(4) {
  top: 66%;
  width: 0%;
  left: 50%;
}
.nav a{
  border-right:solid 2px transparent; 
  border-left:solid 2px transparent;
  transition: all .25s ease;
}
.nav a:hover{
  border-right:solid 2px #777; 
  border-left:solid 2px #777;
}
#contactForm input,#contactForm textarea{
  width: 100%;
  resize:none;
}
div#content{
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}
span.sent{
  display:none;
}
#logo{
  height: 200%;
  width: auto;
  margin-top: -10px;
  filter: saturate(250%);
  -webkit-filter: saturate(250%);
  -moz-filter: saturate(250%);
  -o-filter: saturate(250%);
  -ms-filter: saturate(250%);
  transition: all 0.5s ease-in-out;
}
#logo:hover{
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
  -moz-filter: saturate(0%);
  -o-filter: saturate(0%);
  -ms-filter: saturate(0%);
}
#divRecherche{
  margin:10px;
}
label{
  font-weight: 400 !important;
}
@media (max-width: 767px) {
  input#prixMax{
    margin-top: 20px;
  }
}
#resultRecherche{
  border-top: 2px solid black; 
  margin-top: 25px;

}
fieldset{
  background:#BBBBBB;
  box-shadow: 0 0 50px 30px #BBBBBB;
}
input[type="submit"],input[type="reset"]{
  transition: all 0.2s ease-in-out;
}
input[type="submit"]:hover{
  box-shadow: 0 0 10px 2px #003D9F inset ;
}
input[type="reset"]:hover{
  box-shadow: 0 0 10px 2px darkred inset ;  
}
#submit-form-recherche{
  float: right;
}
.results{
  margin: 15px;
  border: 2px solid black;
  height: 170px;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.formation-half{
  position: relative;
  height: 100%;
  width: 100%;
}
.formation-certif{
  margin-top: 150px;
}
.formation-logo{
  max-width: 100%;
  max-height: 85%;
  position: absolute;
  top: 0;
  right:0;
  border-radius: 0 10px 0 0;
}
.formation-prix{
  position: absolute;
  bottom:0;
  right: 15px;
}
.formation-date{
  position: absolute;
  bottom: 0;
  left: 15px;
}
.formation-title{
  font-weight: 900;
}
.formation-lien{
  color: black;
}
.results:hover{
  background-color:#DDD;
  border:2px solid #777;
  box-shadow: 12px 12px 100px 12px #777 ;
}
.formation-lien:hover{
  color: black;
}
#chkcertif{
  position: absolute;
  left:-999999px;
}
input[type="checkbox"] + label[for="chkcertif"]::before{
  content:"";
  display:inline-block;
  width:15px;
  height:15px;
  background:transparent;
  border-radius:100%;
  border: 4px solid black;
  padding: 2px;
  margin-right:10px;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"]:checked + label[for="chkcertif"]::before{
  background:#003D9F;
  color: #003D9F;
}
input[type="checkbox"]:checked + label[for="chkcertif"]{
  color: #003D9F;
}
label[for="chkcertif"]:hover + label[for="chkcertif"]::before{
  background: #777;
}
::-moz-selection{
  color: white; 
  background: black;
}
::selection {
  color: white; 
  background: black;
}

/* **********************************************************************************************
*************************************PARTIE WILLIAM***********************************************
********************************************************************************************** */


body{
  height:100%;
  width:100%;
  position: absolute;
  overflow-x:hidden;
}

#Wallpaper_display{
  width: 100%;
  min-height: 700px;
  position: relative;
  background : url("/prixy/bundles/prixy/media/Background/hand.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter : blur(1px);
  filter : contrast(120%);
  filter: opacity(75%);
  box-shadow: 0 0 25px 10px #003D9F;
  margin-bottom: 20px;
}
#nom_logo{

  font-size: 6.5em;
}
#sous_logo{
  font-size:1.5em;
}
.wallpaper_content{
  position: absolute;
  left: 47%;
  top: 12%;
}
@media (max-width:476px ){
	.wallpaper_content{
		left:36%;
	}
}

p{
  margin : 10px !important;
}
.box_black{
  box-shadow: 0 0 25px 10px black
}
.img-thumbnail{
  background-color: #003D9F !important;
}
#nom_logo:first-letter{
  color: #003D9F;
  transition: all 0.5s ease-in-out;
  font-size: 1.3em;
}
.img_personnel{
  width:150px !important;
  height:150px !important;
}

.position_profil{
    left:26%;
    position:relative;
    width:150px;
}

.position_profil figcaption{
 opacity: 0;
 background-color: #000018;
 position:absolute;
 bottom:0%;
 right:0;
 left:0;
 top:100%;
 filter : opacity(85%);
 border-radius: 50%;
 text-align: center;
 transition: all .20s ease-in-out ;
}
.position_profil:hover figcaption{
  opacity: 1; 
  top:0%;
}
figcaption span{
  color: #DDD;
  position: relative;
  top: 60px;
}
@media (max-width: 992px){
	.position_profil{
		left:36%;
	}
}
/* **********************************************************************************************
****************************PARTIE WILLIAM FORMATION***********************************************
********************************************************************************************** */
.titre_forma{
  text-align: center;
  color : #003D9F;
}

div  h3:first-letter{
  color: #003D9F;
  font-size: 1.5em;
}
.right_position{
  margin-top:20px;

}
.without_style{
  list-style:none;
  margin-left:0;
  padding-left:0;
}
@media (min-width: 767px) {
  .left_position{
  border-right: solid #003D9F;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 0, 0 100%, from(#003D9F), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(#003D9F, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#003D9F, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(#003D9F, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
      linear-gradient(to bottom, #003D9F, rgba(0, 0, 0, 0)) 1 100%;
  }
}
@media (max-width: 767px) {
  .left_position{
  border-left: solid #003D9F;
  -webkit-border-image: 
    -webkit-gradient(linear, 0 0, 0 100%, from(#003D9F), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: 
    -webkit-linear-gradient(#003D9F, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(#003D9F, rgba(0, 0, 0, 0)) 1 100%;    
  -o-border-image:
    -o-linear-gradient(#003D9F, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
      linear-gradient(to bottom, #003D9F, rgba(0, 0, 0, 0)) 1 100%;
  }
  .right_position{
    border-left: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 100%, 0 0, from(#003D9F), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(bottom, #003D9F, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, #003D9F, rgba(0, 0, 0, 0)) 1 100%;  
    -o-border-image:
      -o-linear-gradient(bottom, #003D9F, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, #003D9F, rgba(0, 0, 0, 0)) 1 100%;
  }
}
.session_formation{
  margin-top: 30px;
  
}


